{% extends "base_generic.html" %}
{% load custom_filters %}

{% block content %}
  <div class="container mx-auto p-4">
    <h2 class="text-3xl font-semibold mb-6 text-center">{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Pedido</h2>
    <form method="post" class="bg-gray-800 p-6 rounded shadow-md space-y-4" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.numero_pedido.errors }}
          <label for="{{ form.numero_pedido.id_for_label }}" class="block text-sm font-medium text-gray-300">Número de Pedido</label>
          {{ form.numero_pedido|add_class:"block w-full mt-1 text-white rounded" }}
        </div>
        <div>
          {{ form.bloque.errors }}
          <label for="{{ form.bloque.id_for_label }}" class="block text-sm font-medium text-gray-300">Bloque</label>
          {{ form.bloque|add_class:"block w-full mt-1 text-white rounded" }}
        </div>
        <div>
          {{ form.tipo_servicio.errors }}
          <label for="{{ form.tipo_servicio.id_for_label }}" class="block text-sm font-medium text-gray-300">Tipo de Servicio</label>
          {{ form.tipo_servicio|add_class:"block w-full mt-1 text-white rounded" }}
        </div>
        <div>
          {{ form.fecha_entrega.errors }}
          <label for="{{ form.fecha_entrega.id_for_label }}" class="block text-sm font-medium text-gray-300">Fecha de Entrega</label>
          {{ form.fecha_entrega|add_class:"block w-full mt-1 text-white rounded flatpickr"}}
        </div>
        <div>
          {{ form.cliente.errors }}
          <label for="{{ form.cliente.id_for_label }}" class="block text-sm font-medium text-gray-300">Cliente</label>
          {{ form.cliente|add_class:"block w-full mt-1 text-white rounded" }}
        </div>
        <div>
          {{ form.referencia_calzado.errors }}
          <label for="{{ form.referencia_calzado.id_for_label }}" class="block text-sm font-medium text-gray-300">Referencia Calzado</label>
          {{ form.referencia_calzado|add_class:"block w-full mt-1 text-white rounded" }}
        </div>
        <div>
          <label for="{{ form.total_pares.id_for_label }}" class="block text-sm font-medium text-gray-300">Total Pares</label>
          {{ form.total_pares|add_class:"block w-full mt-1 text-white rounded" }}
        </div>
      </div>
      <h2 class="text-2xl font-semibold mt-6 mb-4 text-center">Detalles de Tallas</h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for talla in talla_range %}
          <div>
            <label for="id_talla_{{ talla }}" class="block text-sm font-medium text-gray-300">Talla {{ talla }}</label>
            {% with field_name="talla_"|add:talla %}
              {{ form[field_name].errors }}
              {{ form[field_name]|add_class:"block w-full mt-1 text-white rounded" }}
            {% endwith %}
          </div>
        {% endfor %}
      </div>
      <div class="flex justify-end mt-6">
        <button type="submit" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700">Guardar</button>
      </div>
    </form>
  </div>
{% endblock %}
