{% extends 'base_generic.html' %}

{% block content %}
  <h2 class="text-2xl font-semibold mb-4">Registrar Movimiento de Inventario</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Registrar</button>
  </form>
  <a href="{% url 'hu_imagen' %}" class="text-blue-500 hover:text-blue-700 block mt-4">Volver a la lista</a>
  {% if textos %}
    <h2 class="text-2xl font-semibold mb-4 mt-4">Historias de Usuario Generadas</h2>
    <ul class="list-disc list-inside">
      {% for texto in textos %}
        <li>{{ texto }}</li>
      {% endfor %}
    </ul>
    <a href="{% url 'download_document' 'word' %}" class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Descargar en Word</a>
    <a href="{% url 'download_document' 'pdf' %}" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Descargar en PDF</a>
  {% endif %}
{% endblock %}
